@import "~bulma/sass/utilities/initial-variables"

// Config
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

@import "~bulma"

.back
  background: #ffffff

.margin-top-0
  margin-top: 0 !important

body
  background-color: rgba(224, 0, 228, 0.06)

section
  padding: 100px 0

// title

.yuba
  background-image: url("../img/shop6.jpg"),url("../img/shop5.jpg")
  background-position: right,left
  background-repeat: no-repeat
  padding: 0
  +touch
    background-image: url("../img/shop6.jpg")
    width: 100%

.yuba2
  background-color: rgba(255,255,255,0.6)
  height: 100vh

.titleText
  font-weight: bold
  color: #000000
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif

// navbar

.navbar
  box-shadow: 1px 0 5px 1px #999

.navbar-item img 
  max-height: 50px !important

html.has-navbar-fixed-top
  padding-top: 

.nav-height
  height: 8rem
  display: none !important

.navbar-logo
  margin-right: 1rem

.navbar-item:first-child
  border-left: 1px solid #000

.navbar-title
  font-size: 20px
  text-align: center

.contents-height
  padding-top: 4rem

// contents

.information
  &__contents
  &__item
    border: 1px solid #000000
    border-bottom: none
    &:last-child
      border-bottom: 1px solid #000000
    &--contents
    display: block
    width: 100%
    padding: 10px

.greeting
  &__main
    padding: 2rem 3rem
  &__image
    border-radius: 50%
  &__text
    & strong
      color: #e4007f

// introduction
.introduction
  &__masako
    border-radius: 50%
  &__contents
    margin: 0 auto

.school
