@import "~bulma/sass/utilities/initial-variables"

// Config
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

body
  background: linear-gradient(-135deg, #FFBF00, #F5DA81)

.title
  text-align: center
  background: #fff
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
  position: relative
  height: 450px

.title:not(:last-child)
  margin-bottom: 0 !important

.titleText
  position: absolute
  top: calc(75% - 17.5px)
  left: calc(50% - 384px)

.has-text-weight-bold
  position: absolute
  top: calc(50%)
  left: calc(50% - 140px)

section
  padding: 0 0 3rem 0 !important

.navbar
  background: #B45F04 !important
  border: 1px solid #000

.navContent
  width: 1150px
  margin: 0 auto
  display: flex

.navbar-item
  width: 20%
  border-right: 1px solid #000

.navbar-item:first-child
  border-left: 1px solid #000

.navbar-title
  font-size: 20px
  text-align: center

.container
  margin: 20px auto 0 !important

.container:after
  content: ""
  clear: both
  display: block

.content
  width: 900px
  border-radius: 10px
  background: #fff

.main_content
  float: left

.sidebar
  float: left
  margin-left: 20px
  width: 222px

.tel
  border: 1px solid #000
  border-radius: 10px

.tel-text
  background: #c6dea6
  font-weight: bold
  font-size: 20px
  text-align: center
  border-bottom: 1px solid #000
  border-radius: 10px 10px 0 0 
  padding: 10px 0

.tel-number
  text-align: center
  font-size: 25px
  font-weight: bold
  background: #fff
  border-radius: 0 0 10px 10px 
  padding: 10px 0


@import "~bulma"
